@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}


html, body { 
  height: 100%; 
  margin: 0; 
  overflow: hidden;
  overflow: clip; 
  contain: content;
}
body {
  background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
  display: flex;
  align-items: center;
  justify-content: center;
}



/*== Loading Smile Face ==*/

.smiley {
	width: 8em;
	height: 8em;
}
.smiley__eye1,
.smiley__eye2,
.smiley__mouth1,
.smiley__mouth2 {
	animation: eye1 3s ease-in-out infinite;
}
.smiley__eye1,
.smiley__eye2 {
	transform-origin: 64px 64px;
}
.smiley__eye2 {
	animation-name: eye2;
}
.smiley__mouth1 {
	animation-name: mouth1;
}
.smiley__mouth2 {
	animation-name: mouth2;
	visibility: hidden;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	}
}

/* Animations */
@keyframes eye1 {
	from {
		transform: rotate(-260deg) translate(0,-56px);
	}
	50%,
	60% {
		animation-timing-function: cubic-bezier(0.17,0,0.58,1);
		transform: rotate(-40deg) translate(0,-56px) scale(1);
	}
	to {
		transform: rotate(225deg) translate(0,-56px) scale(0.35);
	}
}
@keyframes eye2 {
	from {
		transform: rotate(-260deg) translate(0,-56px);
	}
	50% {
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
	}
	52.5% {
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1,0);
	}
	55%,
	70% {
		animation-timing-function: cubic-bezier(0,0,0.28,1);
		transform: rotate(40deg) translate(0,-56px) rotate(-40deg) scale(1);
	}
	to {
		transform: rotate(150deg) translate(0,-56px) scale(0.4);
	}
}
@keyframes eyeBlink {
	from,
	25%,
	75%,
	to {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0);
	}
}
@keyframes mouth1 {
	from {
		animation-timing-function: ease-in;
		stroke-dasharray: 0 351.86;
		stroke-dashoffset: 0;
	}
	25% {
		animation-timing-function: ease-out;
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1,start);
		stroke-dasharray: 175.93 351.86;
		stroke-dashoffset: -175.93;
		visibility: visible;
	}
	75%,
	to {
		visibility: hidden;
	}
}
@keyframes mouth2 {
	from {
		animation-timing-function: steps(1,end);
		visibility: hidden;
	}
	50% {
		animation-timing-function: ease-in-out;
		visibility: visible;
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -351.86;
	}
}

.Welcome_Text{
  font-size: medium;
  font-style: oblique;
  color: #990073;
}


/*== deathline Animation ==*/

#deadline {
  width:581px;
  max-width: 100%;
  height:1px;
  position: fixed;
  top: 60%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#deadline svg {
  width: 100%;
}

#progress-time-fill {
  animation-name: progress-fill; 
  animation-timing-function: linear; 
  animation-iteration-count: infinite;
}

/* Death */
#death-group {
  animation-name: walk;
  animation-timing-function: ease; 
  animation-iteration-count: infinite;
  transform: translateX(0);
}

#death-arm {
  animation: move-arm 3s ease infinite;
  /* transform-origin: left center; */
  transform-origin: -60px 74px;
}

#death-tool {
  animation: move-tool 3s ease infinite;
  transform-origin: -48px center;
}

/* Designer */

#designer-arm-grop {
  animation: write 1.5s ease infinite;
  transform: translate(0, 0) rotate(0deg) scale(1, 1);
  transform-origin: 90% top;
}

.deadline-days {
  color: #fff;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  position: relative;
  height: 20px;
  font-family: 'Oswald', sans-serif;
}

.deadline-days .inner {
  width: 100px;
  position: relative;
  top: 0;
  left: 0;
}

.mask-red,
.mask-white {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.mask-red {
  left: 0;
  width: 0;
  color: #BE002A;
  animation: text-red 20s ease infinite;
  z-index: 2;
  background: #000;
}
.mask-white {
  right: 0;
}

/* Flames */

#red-flame {
  opacity: 0;
  animation: show-flames 20s ease infinite, red-flame 120ms ease infinite;
  transform-origin: center bottom;
}

#yellow-flame {
  opacity: 0;
  animation: show-flames 20s ease infinite, yellow-flame 120ms ease infinite;
  transform-origin: center bottom;
}

#white-flame {
  opacity: 0;
  animation: show-flames 20s ease infinite, red-flame 100ms ease infinite;
  transform-origin: center bottom;
}

@keyframes progress-fill {
  0% {
      x: -100%;
  }

  100% {
      x: -3%;
  }
}

@keyframes walk {
  0% {
      transform: translateX(0);
  }
  6% {
      transform: translateX(0);
  }
  10% {
      transform: translateX(100px);
  },

  15% {
      transform: translateX(140px);
  }

  25% {
      transform: translateX(170px);
  }

  35% {
      transform: translateX(220px);
  }

  45% {
      transform: translateX(280px);
  }

  55% {
      transform: translateX(340px);
  }

  65% {
      transform: translateX(370px);
  }

  75% {
      transform: translateX(430px);
  }

  85% {
      transform: translateX(460px);
  }

  100% {
      transform: translateX(520px);
  }
}

@keyframes move-arm {
  0% {
      transform: rotate(0);
  }

  5% {
      transform: rotate(0);
  }

  9% {
      transform: rotate(40deg);
  }

  80% {
      transform: rotate(0);
  }
}

@keyframes move-tool {
  0% {
      transform: rotate(0);
  }

  5% {
      transform: rotate(0);
  }

  9% {
      transform: rotate(50deg);
  }

  80% {
      transform: rotate(0);
  }
}

/* Design animations */

@keyframes write {
  0% {
      transform: translate(0, 0) rotate(0deg) scale(1, 1);
  }

  16% {
      transform: translate(0px, 0px) rotate(5deg) scale(0.8, 1);
  }

  32% {
      transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  }

  48% {
      transform: translate(0px, 0px) rotate(6deg) scale(0.8, 1);
  }

  65% {
      transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
  }

  83% {
      transform: translate(0px, 0px) rotate(4deg) scale(0.8, 1);
  }
}

@keyframes text-red {
  0% {
      width: 0%;
  }

  100% {
      width: 98%;
  }
}

/* Flames */

/* @keyframes show-flames {
  0% {
      transform:  translateY(0);
  }
  74% {
      transform:  translateY(0);
  }
  80% {
      transform:  translateY(-30px);
  }
  97% {
      transform:  translateY(-30px);
  }
  100% {
      transform: translateY(0px);
  }
} */

@keyframes show-flames {
  0% {
      opacity: 0;
  }
  74% {
      opacity: 0;
  }
  80% {
      opacity: 1;
  }
  99% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes red-flame {
  0% {
      transform: translateY(-30px) scale(1, 1);
  }

  25% {
      transform: translateY(-30px) scale(1.1, 1.1);
  }

  75% {
      transform: translateY(-30px) scale(0.8, 0.7); 
  }

  100% {
      transform: translateY(-30px) scale(1, 1); 
  }
}

@keyframes yellow-flame {
  0% {
      transform: translateY(-30px) scale(0.8, 0.7);
  }

  50% {
      transform: translateY(-30px) scale(1.1, 1.2);
  }

  100% {
      transform: translateY(-30px) scale(1, 1);
  }
}



.question-image img {
  max-width: 75% 

}

.start_btn{
  position: absolute;
  top: 20%;

}





.info_box,
.quiz_box,
.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
  font-size: 25px;
  font-weight: 500;
  color: #990073;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.info_box {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info_box .info-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.info_box .info-list {
  padding: 15px 30px;
}

.info_box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
}

.info_box .info-list .info span {
  font-weight: 600;
  color: #990073;
}
.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  float: left;
  border-top: 1px solid lightgrey;
}
.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #990073;
  transition: all 0.3s ease;
}



.quiz_box {
  width: 550px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz_box header .timer {
  color: #990073;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.quiz_box header .timer .time_left_txt {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #990073;
}

section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

section .que_text {
  font-size: 25px;
  font-weight: 600;
}

section .option_list {
  padding: 20px 0px;
  display: block;
}

section .option_list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .option_list .option:last-child {
  margin-bottom: 0px;
}

section .option_list .option:hover {
  color: #990073;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

section .option_list .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

section .option_list .option.disabled {
  pointer-events: none;
}

section .option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}
.option_list .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.option_list .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .total_que span p:first-child {
  padding-left: 0px;
}

footer button {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #990073;
  border: 1px solid #990073;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

footer button:hover {
  background: #990073;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result_box {
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result_box .icon {
  font-size: 100px;
  color: #990073;
  margin-bottom: 10px;
}

.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}

.result_box .wait_text {
  font-size: 24px;
  font-weight: 500;
}

.result_box .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.result_box .score_text span p {
  padding: 0 4px;
  font-weight: 600;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #990073;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: #990073;
}

.buttons button.restart:hover {
  background: #990073;
}

.buttons button.quit {
  color: #990073;
  background: #fff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #990073;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal h1 {
  text-align: center;
  color: #990073;
}

.modal table,
.modal th,
.modal td {
  border: 2px solid rgb(80, 78, 78);
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 400;
}

table {
  width: 100%;
}

.modal th,
.modal td {
  padding: 15px;
}

/* .like {
  border: none;
  box-shadow: none;
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  border-radius: 12px;
  position: absolute;
  bottom: 50px;
  right: 50px;
} */
